
@font-face {
    font-family: 'arkicons';
    src: url(https://img3.doubanio.com/f/ark/cd135ac558e3da303f048cc9d3929c4b39701b43/pics/iconic/arkicons.eot);
    src: url(https://img3.doubanio.com/f/ark/cd135ac558e3da303f048cc9d3929c4b39701b43/pics/iconic/arkicons.eot) format('embedded-opentype'),url(/f/ark/0ba6112e957b22f25727de2b7cd53eec997358c0/pics/iconic/arkicons.woff) format('woff'),url(https://img3.doubanio.com/f/ark/6b2d0cf21792fdb931081afb302b5041fda926e2/pics/iconic/arkicons.ttf) format('truetype'),url(https://img3.doubanio.com/f/ark/ee66497ef90f14ef7a67b31ab067c0ba3ff3e393/pics/iconic/arkicons.svg) format('svg');
    font-weight: normal;
    font-style: normal
}

[data-icon]:before {
    font-family: 'arkicons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.arkicon-zoom-out,.arkicon-zoom-in,.arkicon-star,.arkicon-share,.arkicon-salon,.arkicon-remark,.arkicon-remark-dash,.arkicon-pin-on,.arkicon-pin-off,.arkicon-notification,.arkicon-list,.arkicon-layout-vertical,.arkicon-layout,.arkicon-helper,.arkicon-fullscreen,.arkicon-expand,.arkicon-copy,.arkicon-comment,.arkicon-bookmarks,.arkicon-bookmark,.arkicon-back,.arkicon-annotations,.arkicon-annotations-bold,.arkicon-annotation,.arkicon-times,.arkicon-angle-right,.arkicon-angle-left,.arkicon-feed,.arkicon-upvote {
    font-family: 'arkicons';
    color: #7e8282;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.arkicon-zoom-out:before {
    content: '\e600'
}

.arkicon-zoom-in:before {
    content: '\e601'
}

.arkicon-star:before {
    content: '\e602'
}

.arkicon-share:before {
    content: '\e603'
}

.arkicon-salon:before {
    content: '\e604'
}

.arkicon-remark:before {
    content: '\e605'
}

.arkicon-remark-dash:before {
    content: '\e606'
}

.arkicon-pin-on:before {
    content: '\e607'
}

.arkicon-pin-off:before {
    content: '\e608'
}

.arkicon-notification:before {
    content: '\e609'
}

.arkicon-list:before {
    content: '\e60a'
}

.arkicon-layout-vertical:before {
    content: '\e60b'
}

.arkicon-layout:before {
    content: '\e60c'
}

.arkicon-helper:before {
    content: '\e60d'
}

.arkicon-fullscreen:before {
    content: '\e60e'
}

.arkicon-expand:before {
    content: '\e60f'
}

.arkicon-copy:before {
    content: '\e610'
}

.arkicon-comment:before {
    content: '\e611'
}

.arkicon-bookmarks:before {
    content: '\e612'
}

.arkicon-bookmark:before {
    content: '\e613'
}

.arkicon-back:before {
    content: '\e614'
}

.arkicon-annotations:before {
    content: '\e615'
}

.arkicon-annotations-bold:before {
    content: '\e616'
}

.arkicon-annotation:before {
    content: '\e617'
}

.arkicon-times:before {
    content: '\e618'
}

.arkicon-angle-right:before {
    content: '\e619'
}

.arkicon-angle-left:before {
    content: '\e61a'
}

.arkicon-feed:before {
    content: '\e61b'
}

.arkicon-upvote:before {
    content: '\e61c'
}

.arkicon-layout.vertical:before {
    content: '\e60b'
}

.arkicon-zoom-out:before {
    font-size: 1.375em
}

.arkicon-zoom-in:before {
    font-size: 1.375em
}

.arkicon-star:before {
    font-size: 1.125em
}

.arkicon-share:before {
    font-size: 1.375em
}

.arkicon-salon:before {
    font-size: 1.1875em
}

.arkicon-notification:before {
    font-size: 1.375em
}

.arkicon-list:before {
    font-size: .8125em
}

.arkicon-expand:before {
    font-size: 1.375em
}

.arkicon-bookmarks:before {
    font-size: 1.125em
}

.arkicon-back:before {
    font-size: .875em
}

.arkicon-annotations:before {
    font-size: 1.1875em
}

.arkicon-feed:before {
    font-size: .9125em
}
